$gradient: linear-gradient(260.09deg, #008CB9 7.44%, #96BF53 91.11%);
@media screen and (max-width: 1720px) {
  .our-mission {
    padding-top: 80px;
  }
  .mission-bg {
    .tablet-2 {
      top: 25px;
      left: 0;
      width: 105px;
      padding-top: 100px;
    }

    .tablet {
      bottom: 120px;
      right: 5px;
      width: 56px;
      height: 86px;
    }
  }
}

@media screen and (max-width: 1600px) {

  .our-trust__container {
    .img {
      width: 36%;
      padding-top: 26%;
    }
  }
  .trust-block {
    margin-left: 33%;
    padding: 80px 8%;
    ol {
      margin-top: 40px;
    }
  }
  .production {
    .button-slide {
      width: 82px;
      height: 82px;
      p {
        &::after {
          width: 11px;
          height: 12px;
        }
      }
    }
  }

  .header-cart {
    width: 13%;
  }
  .header-center > ul li {
    margin-right: 26px;

    a {
      font-size: 14px;
      line-height: 16px;
    }
  }
  .phones {
    > a {
      font-size: 18px;
      line-height: 20px;
    }
  }
  .slogan-list::after {
    width: 18%;
    padding-top: 18%;
    right: 0;
    left: auto;
    transform: translate(0, -80%);
  }
  .slogan .text::after {

    transform: translate(-50%, -100%);
  }
}

@media screen and (max-width: 1460px) {
  .production-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 1400px) {
  .company-goal__container {
    padding: 80px 0 80px;
    .img {
      width: 40%;
      padding-left: 2%;
    }
  }
  .company-goal__text {
    width: 60%;
  }
  .contact-us__container {
    p {
      font-size: 28px;
      line-height: 33px;
    }

    span {
      font-size: 14px;
      line-height: 21px;
    }

    .btn {

    }
  }
  .bov-text {
    padding: 75px 0;
  }
  .bov-text__single {
    &:nth-child(odd) {
      .r-block {
        padding: 20px 20px;
      }
    }

    .img {
      height: 100%;
      padding-top: 0;
      position: static;

      img {
        position: static;
      }
    }
  }
  .r-block {
    padding: 0 20px;

    .btn {
      margin-top: 2px;
    }

    .title {
      margin-bottom: 15px;
    }

    p:not(.title) {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 12px;
    }
  }
  .header-container {
    padding: 16px 0;
  }
  .logo {
    width: 105px;
    height: 37px;
  }
  .phones {
    margin-right: 25px;
  }
  .lang {
    margin-left: 25px;
    margin-right: 45px;
  }
  .phones > a {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 1200px) {
  .press-center__container {
    .news {
      row-gap: 60px;
    }
  }
  .production-items {
    padding: 60px 0;
  }
  .production-page .bg {
    display: none;
  }
  .pagination {
    margin-bottom: 60px;
  }
  .our-slogan {
    background: url('../img/formula-2.png') no-repeat right center/180px;
  }

  .slogan {
    .img {
      width: 35%;
      margin-top: 0;
    }
    .text {
      width: 65%;
    }
  }
  .our-slogan__container {
    padding: 90px 0;
  }
  .company-goal__container {
    padding: 80px 0 80px;
    flex-direction: column;
    .img {
      width: 100%;
      padding-left: 0;
      margin-top: 30px;
      img {
        width: 100%;
      }
    }
  }
  .company-goal__text {
    width: 100%;
    > p {
      margin-bottom: 17px;
    }

  }
  .about-hero__text {
    padding: 80px 0 120px;
    .text {
      max-width: 400px;
      &::before {
        width: 240px;
        height: 198px;
      }
    }
  }
  .production .button-slide {
    top: 36%;
  }
  .home-title {
    font-size: 38px;
    line-height: 41px;
  }
  .home-planet__container .left p {
    font-size: 16px;
    line-height: 26px;
  }
  .single-icon {
    left: -30px;
    width: calc(50% + 30px);
    .square {
      width: 60px;
      height: 60px;
      padding: 14px;
      box-sizing: border-box;
      img {
        width: 100%;
      }
    }
  }
  .planet-circle {
    padding: 40px;
  }
  .icon-hover {
    width: 375px;
    p, span {
      font-size: 14px;
      line-height: 21px;
    }
  }
  .home-planet__container .left .btn {
    height: 53px;
  }
  .icon-hover .btn {
    height: 53px;
  }
  .home-planet__container .left {
    max-width: 40%;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .planet {
    width: 60%;
    padding-right: 10%;
    .bg {
      width: 110%;
    }
  }
  .footer-top ul li {
    margin-right: 10%;
  }
  .footer-bottom {
    padding: 30px 0 40px;
  }
  .contact-us__container {
    span {
      max-width: 400px;
    }
  }
  .related-news {
    padding: 50px 0 70px;
  }
  .related-news__container {
    .head {
      margin-bottom: 40px;
    }
  }
  .news {
    column-gap: 20px;
    row-gap: 20px;

  }
  .single-news {
    width: calc((100% / 3) - (40px / 3));

  }
  .mission-text {
    span {
      font-size: 28px;
      line-height: 33px;
      margin-top: 21px;
      margin-bottom: 11px;
    }

    p:not(.title) {
      font-size: 14px;
      line-height: 21px;
    }
  }
  .single-mission {
    .img {
      width: 68px;
      height: 68px;
      padding: 13px;
      margin-right: 13px;
    }

    p {
      font-size: 14px;
      line-height: 21px;
    }
  }
  .mission-text {
    max-width: 60%;
  }
  .mission-container {
    padding: 30px;
  }
  .production-card {
    padding: 25px 25px 75px 25px;
  }
  .prod-card {
    flex-wrap: wrap;

  }
  .prod-control {
    left: 25px;
  }
  .card__center {
    width: 100%;
    padding-left: 0;
    order: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 12px;

    .img {
      margin-top: 0;
      width: 51%;
      padding-top: 33.1%;
    }
  }
  .card__left {
    order: 2;
    width: 50%;
    padding-right: 50px;
    box-sizing: border-box;
  }
  .card__right {
    width: 50%;
    order: 3;
  }
  .trust-stat {
    padding: 4% 5%;
    width: 110%;
  }
  .trust-text p {
    margin-top: 20px;
  }
  .trust-single {
    p {
      font-size: 60px;
      line-height: 58px;
      margin-bottom: 2px;
      margin-top: 0;
    }

    span {
      font-size: 14px;
      line-height: 21px;
    }
  }

  .trust-img {
    width: 40%;
    padding-top: 36.8%;
  }
  .trust-text {
    width: 60%;
    padding: 0 12px 60px 4%;
  }
  .header-menu__content {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 22px 20px 15px;
    box-sizing: border-box;

    > ul {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      li {
        width: 100%;

        a {
          text-decoration: none;
          transition: color 0.3s ease;

          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 46px;
          text-transform: uppercase;
          color: #3E4E46;

          &:hover, &.active {
            color: #088db8;
            transition: color 0.3s ease;
          }
        }
      }
    }
  }
  .header-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    display: inline-block;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: visibility 0.3s ease, opacity 0.3s ease;

    &.visible {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  .header-menu {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 380px;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.16);
    transform: translate(-110%, 0);
    transition: transform 0.4s ease;

    &::after {
      position: fixed;
      top: 0;
      left: 0;
      width: 200%;
      bottom: 0;
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(15px);
      display: inline-block;
      //content: '';
    }

    &.visible {
      transform: translate(0, 0);

    }
  }
  .close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    order: 3;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .header-menu__top {
    background: #FFFAFA;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 20px;
    box-sizing: border-box;
  }
  .burger {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 15px;
    width: 26px;

    span {
      display: inline-block;
      width: 100%;
      height: 3px;
      background: $gradient;
    }
  }
  .header-center > ul {
    display: none;
  }
  .header-container {
    flex-wrap: wrap;
  }
  .logo {
    order: 1;
    //margin-bottom: 9px;
  }
  .header-cart {
    order: 3;
    bottom: auto;
    height: 56px;
  }
  .header-center {
    order: 2;
    //width: calc(100% + 30px);
    width: auto;
    flex-grow: 1;
    //margin-left: -15px;
    //margin-right: -15px;
    //background: white;
    //padding: 16px 15px;
    box-sizing: border-box;
    justify-content: center;
  }
  .header-container {
    //padding-bottom: 0;
    padding-bottom: 9px;
    padding-top: 9px;
  }
  .socials {
    order: 1;
  }
  .phones {
    order: 2;
    margin-left: 20px;
  }
  .lang {
    //display: none;
    order: 3;
  }
  .burger {
    order: 4;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    min-height: 180px;
  }
  .hero-title {
    font-size: 40px;
    line-height: 40px;
  }
  .our-trust__container {
    padding-top: 40%;
    .img {
      width: 56%;
      padding-top: 41.5%;
      left: 50%;
      top: 50px;
      transform: translate(-50%, 0);
    }
  }
  .trust-block {
    margin-left: 0;
    padding: 85px 15px;
  }
  .our-slogan {
    background: url('../img/formula-2.png') no-repeat right 40%/180px;
  }
  .slogan-list {
    &::after {
      content: none;
    }
  }
  .single-slogan {
    width: 45%;
    margin-right: 10%;
    &:nth-child(even) {
      margin-right: 0;
      margin-top: 0;
    }
  }
  .photo-gallery {
    padding: 60px 0;
    background: url("../img/formula-2.png") no-repeat right top/ 180px, url("../img/formula-2.png") no-repeat -20px bottom/ 180px;

  }

  .trust-text p {
    font-size: 14px;
    line-height: 21px;
  }
  .production {
    padding: 50px 0;
  }
  .title {
    font-size: 28px;
    line-height: 33px;
    padding-bottom: 10px;

    &::after {
      width: 60px;
      height: 4px;
    }
  }
  .trust-single p {
    font-size: 60px;
    line-height: 58px;
  }
  .trust-us__container {
    padding: 90px 0;
  }
}

@media screen and (max-width: 1023px) {
  .home-title {
    font-size: 30px;
    line-height: 35px;
  }
  .home-planet__container {
    //padding: 63px 0;
    box-sizing: border-box;
    .left {
      p {
        font-size: 14px;
        line-height: 21px;
        margin-top: 17px;
        margin-bottom: 24px;
      }
      .btn {
        width: auto;
        display: inline-flex;
      }
      span {

      }
    }
  }
  .planet {
    //display: none;
  }
  .footer-top {
    flex-wrap: wrap;
    ul {
      width: 50%;
      justify-content: space-between;
      li {
        margin-right: 0;
      }
    }
  }
  .footer__logo {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact-us__container {
    flex-wrap: wrap;
    p {
      width: 100%;
      margin-right: 0;
      margin-bottom: 8px;
    }
    span {
      max-width: 50%;
    }
    .btn {
      margin-left: calc(50% - 240px);
    }
  }
  .news {
    row-gap: 10px;
    column-gap: 10px;
  }
  .single-news {
    width: calc((100% / 3) - (20px / 3));

    .img {
      margin-bottom: 20px;
    }

    .tags {
      margin-bottom: 15px;
      flex-wrap: wrap;

      p {
        font-size: 12px;
        padding: 0 14px;
        margin-right: 15px;

      }

      span {
        font-size: 12px;
        font-weight: normal;
      }
    }

    .info {
      a:not(.link) {
        font-size: 14px;
        line-height: 21px;
      }

      span {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 5px;
      }

      .link {
        font-size: 14px;
        line-height: 27px;

        &::after {
          margin-left: 6px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .press-center__container {
    padding-bottom: 80px;
  }
  .our-slogan {
    background: url('../img/formula-2.png') no-repeat right 56%/180px;
  }
  .single-slogan blockquote {
    padding-right: 0;
  }
  .single-slogan {
    width: 48%;
    margin-right: 4%;
  }
  .slogan-humans {
    padding: 60px 0 0;
  }
  .slogan-list {
    margin-top: 40px;
  }
  .slogan .text::after {
    content: none;
  }
  .slogan {
    flex-direction: column;
    .text {
      width: 100%;
      padding: 0;
    }
    .img {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      img {
        width: 70%;
      }
    }
  }
  .production .button-slide {
    top: 29%;
  }
  .prod-card {
    padding-right: 7px;
  }
  .production {
    .bg {
      //display: none;
      top: 30px;
      width: 130px;
    }
  }
  .planet .bg {
    width: 100%;
  }
  .single-icon {
    left: -25px;
    width: calc(50% + 25px);
    .square {
      width: 50px;
      height: 50px;
      padding: 12px;
    }
  }
  .home-planet__container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .left {
      width: 100%;
      max-width: none;
      padding-right: 0;
      padding: 64px 0 34px;
    }
  }
  .planet {
    width: 100%;
    padding-right: 0;
    padding-top: 42px;
    padding-bottom: 40px;
    justify-content: center;
  }
  .planet-box {
    width: 76%;
    padding-top: 76%;
    margin-right: 0;
  }
  .footer-top {
    ul {
      width: 100%;
    }
  }
  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    > ul {
      li {
        padding-right: 30px;
        margin-right: 30px;
      }
    }
    .socials {
      margin-top: 32px;
    }
  }
  .bov-text {
    padding: 75px 0 50px;
  }
  .bov-text__single {

    flex-direction: column !important;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    .img {
      margin-bottom: 16px;
    }
  }
  .r-block {
    max-width: none;
    width: 100%;
    padding: 0 20px !important;

  }
  .btn--blue {
    font-size: 14px;
  }
  .mission-card {
    flex-direction: column;

  }
  .mission-buttons {
    margin-top: 30px;
  }
  .single-mission {
    width: 100%;
    margin-right: 0;
    margin-bottom: 17px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .trust-us__container {
    padding: 90px 0 200px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  .trust-text {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
    position: static;
  }
  .trust-img {

  }
  .trust-stat {
    width: 100%;
    bottom: 30px;
    right: 0;
    left: 0;
    border-radius: 20px 0px 60px;
  }
}

@media screen and (max-width: 769px) {
  .about-hero__text {
    padding: 20px 0 120px;
    .text {
      max-width: 360px;
      &::before {
        width: 160px;
        height: 118px;
      }
    }
  }
  .about-hero {
    .bg {
      .left-hand {
        top: 75%;
        bottom: auto;
      }
      .right-hand {
        top: 75%;
        bottom: auto;
      }
    }
  }

  .mission-buttons {
    flex-direction: column;

    .btn {
      width: 100%;
      margin-bottom: 10px;
      margin-right: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .header-menu {
    width: 100%;
  }
  .header-menu__top {

    .logo {
      margin-bottom: 0;
      margin-right: 5px;
    }

    .lang {
      display: block;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  .lang {
    display: none;
  }
  .header-container {
    padding-bottom: 0;
  }
  .burger {
    order: 3;
  }
  .logo {
    margin-bottom: 9px;
  }
  .header-center {
    width: calc(100% + 40px);
    margin-right: -20px;
    background: white;
    padding: 16px 20px;
    margin-left: -20px;
    justify-content: space-between;
  }
  .phones > a {
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
  }
  .header-cart {
    width: 165px;

    div {
      margin-bottom: 3px;
    }

    > a {
      font-size: 13px;
      line-height: 15px;
    }
  }
  .phones {
    ul {
      width: 140%;
    }
  }
}

@media screen and (max-width: 767px) {
  .photo-gallery__container {
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .gallery-column {
    width: calc(50% - 5px);
    flex-grow: 1;
  }
  .planet {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
  }
  .planet-btns {
    z-index: 2;
    position: relative;
  }
  .planet-icons {
    transition: transform 0.5s ease;
  }
  .planet-button {
    display: flex;
    cursor: pointer;
    top: -100px;
  }

  .single-icon {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    .square {
      &:hover {
        .icon-hover {
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
        }
        & + .icon-hover {
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
        }
      }
    }
    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    &.open {
      z-index: 2;
      & > .icon-hover {
        opacity: 1 !important;
        visibility: visible !important;
        pointer-events: auto !important;
      }
    }
    transform: translate(0, -50%) rotate(calc(-60deg + (30deg * var(--i))));

    & > * {
      transform: rotate(calc((30deg + (30deg * var(--i)) * -1) + 30deg));

    }
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      .square {
        img {
          transform: rotate(-90deg);
        }

      }
      & >.icon-hover {
        transform: translate(-50%, -50%) rotate(calc((270deg - (30deg * var(--i)) * 1) + 150deg)) rotate(-90deg);

      }


    }
    &:nth-child(7), &:nth-child(8), &:nth-child(9) {
      .square {
        img {
          transform: rotate(90deg);
        }

      }
      & >.icon-hover {
        transform: translate(-50%, -50%) rotate(calc((270deg - (30deg * var(--i)) * 1) + 150deg)) rotate(90deg);

      }

    }
  }
  .planet-box {
    width: 110%;
    margin-left: -5%;
    margin-right: -5%;
    padding-top: 110%;
  }
  .planet .bg {
    width: 150%;
    margin-left: -25%;
    margin-right: -25%;
  }
  .home-planet {
    overflow: hidden;
  }
  .icon-hover {
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important;
    .close-icon {
      width: 16px;
      height: 16px;
      padding: 3px;
      box-sizing: border-box;
      top: 11px;
      position: absolute;
      right: 11px;
      cursor: pointer;
      img {
        width: 10px;
        height: 10px;
      }
    }
    &::after {
      content: none !important;
    }
    right: auto;
    left: 100%;
    top: 50%;
    width: 140%;
    transform: translate(-50%, -50%) rotate(calc((270deg - (30deg * var(--i)) * 1) + 150deg));
    &.desk-only {
      display: flex !important;
      //opacity: 1;
      //visibility: visible;
      //pointer-events: auto;

    }
    &.mob-only {
      display: none !important;
    }
  }
  .footer {
    position: relative;
    padding-bottom: 131px;
  }
  .footer__logo {
    position: absolute;
    bottom: 60px;
    left: 20px;
    right: 20px;
    width: auto;
    .logo {
      margin-left: 0;
    }
    p {
      font-size: 14px;
      line-height: 27px;
    }
  }
  .footer-top {
    padding: 60px 0 20px;
    ul {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      li {
        margin-bottom: 25px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .footer-bottom {
    padding: 50px 0 40px;
    > ul {
      border-bottom: 1px solid #E4E4E4;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-bottom: 31px;
      box-sizing: border-box;
      li {
        margin-right: 0;
        padding-right: 0;
        padding-bottom: 15px;
        margin-bottom: 15px;
        &::after {
          right: auto;
          left: 0;
          bottom: 0;
          transform: none;
          height: 2px;
          width: 37px;
          top: auto;
        }
        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          &::after {
            content: none;
          }
        }
      }
    }
  }
  .news {
    row-gap: 30px;
  }
  .single-news {
    width: calc(50% - 5px);
    flex-grow: 1;

    .img {
      padding-top: 50%;
    }
  }

}

@media screen and (max-width: 710px) {
  .our-mission .container {
    padding-right: 0;
  }
  .mission-text {
    max-width: none;
  }
  .mission-buttons {
    max-width: none;
  }
  .mission-bg {
    .img {
      right: 30px;
      bottom: 80px;
      top: auto;
      height: 413px;
      width: auto;
      left: 50px;
    }

    .text {
      right: 25px;
      bottom: 37px;
      mix-blend-mode: multiply;

      p {
        font-size: 28vw;
        font-weight: bold;

      }
    }
  }
  .our-mission {
    padding-bottom: 302px;
  }
  .mission-container {
    padding-bottom: 229px;
  }
}
@media screen and (min-width: 1201px) {
  .card__left, .card__center {
    position: sticky;
    top: 0;
  }
}
@media screen and (max-width: 650px) {

  .single-press {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 29px;
    }
    h1 {
      font-size: 28px;
      line-height: 28px;
    }
    h2, h3 {
      font-size: 24px;
      line-height: 28px;
    }
    h4, h5, h6 {
      font-size: 20px;
      line-height: 22px;
    }
    p, strong, i, a, ul li {
      font-size: 16px;
      line-height: 24px;
    }
    img {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    * {
      text-align: justify;
    }
  }
  .press-center__type ul {
    li {
      margin-right: 5%;
      a {
        font-size: 14px;
        line-height: 19px;
        padding-bottom: 12px;
      }
    }
  }
  .press-center__container {
    .news {
      row-gap: 50px;
    }
  }
  .our-trust__container {
    padding-top: 67%;
    padding-bottom: 40px;
    .img {
      width: 100%;
      padding-top: 69%;
      left: 50%;
      top: 50px;
      transform: translate(-50%, 0);
    }
  }
  .trust-block {
    margin-left: 0;
    padding: 85px 15px 50px;
  }
  .production .button-slide {
    width: 55px;
  }
  .production-container {
    margin-top: 50px;
  }
  .btn {
    &--white {
      font-size: 14px;
      line-height: 22px;
    }
  }
  .prod-card {
    max-height: 551px;
  }
  .card-pos {
    width: 100%;
    max-width: none;


  }
  .prod-control {
    left: 0;
    right: 0;
    width: 100%;
    flex-direction: column;

    .btn {
      width: 100%;
    }
  }
  .card__left {
    padding-right: 0;
  }
  .production-card {
    padding: 0 0 154px;
    box-shadow: none;

    span {
      font-size: 14px;
      line-height: 20px;
    }

    p {
      font-size: 14px;
      line-height: 21px;

      &:first-child {
        font-size: 21px;
        line-height: 50px;
      }
    }

    ul {
      li {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  .card__left {
    width: 100%;
  }
  .card__right {
    width: 100%;
  }
  .card__center {
    justify-content: flex-end;

    .img {
      width: 86%;
      padding-top: 54.8%;
    }
  }
  .production-card {

  }
}

@media screen and (max-width: 610px) {
  .hero-title {
    font-size: 28px;
    line-height: 28px;
  }

  .contact-us__container {
    padding: 73px 0 80px;
    flex-direction: column;
    align-items: flex-start;
    span {
      max-width: none;
    }
    .btn {
      margin-left: 0;
      margin-top:18px;
      width: 217px;
    }
  }
  .bov-text__single {
    .img {
      width: calc(100% - 40px);
      position: relative;
      padding-top: 72.06%;

      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  .trust-us__container {
    padding: 90px 0 400px;
  }
  .trust-img {
    width: 100%;
    padding-top: 94%;
  }
  .trust-stat {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    left: auto;
    width: 81%;
    padding: 16% 14%;
  }
  .trust-single {
    margin-bottom: 31px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 575px) {
  .pagination {
    ul {
      width: 100%;
      justify-content: space-between;
      li {
        a {
          &.prev {
            margin-right:auto;
          }
          &.prev, &.next {
            width: 55px;
            height: 55px;
            &::before {
              width: 59px;
              height: 59px;
            }
          }
          &.next {
            margin-left: auto;
          }
        }
      }
    }
  }
  .goal-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .single-goal {
    width: 50%;
    margin-right: 0;
    padding: 16px;
    box-sizing: border-box;
    //margin-bottom: 14px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .about-hero__text {
    padding: 50px 0 90px;
  }
  .about-hero {
    .bg {
      .left-hand {
        width: 70%;
        top: 67%;
        padding-top: 40%;
        img {
          width: 100%;
          height: auto;
        }
      }
      .right-hand {
        width: 46%;
        padding-top: 40%;
        img {
          width: 100%;
          height: auto;
        }

      }
    }
  }
  .planet .bg {
    width: 190%;
    margin-left: -45%;
    margin-right: -45%;
  }
  .icon-hover {
    width: 120%;
    padding: 40px 20px;
    .btn {
      width: 100%;
    }
  }
  .related-news__container .head {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .btn {
      margin-top: 40px;
      width: 100%;
    }
  }
  .single-news {
    width: 100%;
  }
  .home-dont-forget {
    &.visible {
      .dont-forget-block {
        display: flex;
      }
    }
  }
  .dont-forget-block {
    display: none;
    padding: 24px;
    box-sizing: border-box;
    position: relative;
    width: calc(100vw - 40px);

    .img {
      top: 24px;
      left: 24px;
      position: absolute;
      width: 87px;
      height: 108px;
    }

    .text {
      padding: 0;
      width: 100%;
    }

    .content {
      margin-top: 0;

      a {
        font-size: 14px;
        line-height: 21px;
      }
    }

    .head {
      padding-left: 100px;
      box-sizing: border-box;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 108px;
      margin-bottom: 11px;

      p {
        margin-right: 0;
        margin-bottom: 4px;
        font-size: 12px;
        padding: 0 9px;
        font-weight: 400;
      }

      span {
        font-size: 12px;
      }
    }
  }
  .header-cart {
    width: 50%;
  }
}
@media screen and (max-width: 525px) {
  .trust-block {
    ol {
      li {
        width: 100%;
        &:nth-child(even) {
          padding-left: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .slogan .img img {
    width: 100%;
  }
  .our-slogan {
    background: url('../img/formula-2.png') no-repeat right bottom/180px;
  }
  .single-slogan {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media screen and (max-width: 374px) {
  .gallery-column {
    width: 100%;
  }
  .footer__logo {
    flex-wrap: wrap;
    bottom: 20px;
    p {
      margin-top: 14px;
    }
  }
}